img {
  width: 400px;
}

h1, figure, h2, p, caption {
  text-align: center;
}

caption {
  display: block;
  margin: auto;
}

#animate-button {
  display: block;
  margin: auto;
  border: 1px solid black;
}
