img {
  width: 400px;
}

h1, figure, h2, p, caption {
  text-align: center;
}

caption {
  display: block;
  margin: auto;
}

#animate-button {
  display: block;
  margin: auto;
  border: 1px solid black;
  margin-bottom: 10px;

}

#details-text {
  display: block;
  margin: auto;
  max-width: 400px;
  text-align: left;
}
