<div id="form-container">
  <label for="name">Search the marvel API for a character. <br><hr><em>Hint: Try an exact match, for example: "Absorbing Man".</em></label>
  <hr>
  <input type="text" class="form-control" name="search"  [(ngModel)]="searchTerm">
  <button class="btn btn-primary" (click)="searchCharacters()">Search</button>
</div>
<hr>
<button class="btn btn-primary" id="fetch-button" (click)="replace()"> Replace {{dataType.current}} list with {{dataType.other}} list.</button>
<hr>
<ul class="list-group list-group-horizontal">
  <li *ngFor="let character of characterList"
      (click)="selectCharacter(character.id)"
      class="list-group-item flex-fill"
      >
    <figure>
      <img [src]="character.thumbnailUrl">
      <caption>{{character.name}}</caption>
    </figure>
  </li>
</ul>

