<div id="form-container">
  <label for="name">Search the marvel API for a character. <br><hr><em>Hint: character name starts with...</em></label>
  <hr>
  <input type="text" class="form-control" name="search"  [(ngModel)]="searchTerm">
  <button class="btn btn-primary" (click)="searchCharacters()">Search</button>
</div>
<hr>
<button class="btn btn-primary" id="fetch-button" (click)="replace()"> Replace {{dataType.current}} list with {{dataType.other}} list.</button>
<hr>
<ul class="list-group list-group-horizontal">
  <li *ngFor="let character of characterList"
      (click)="selectCharacter(character.id)"
      class="list-group-item flex-fill"
      >
    <figure>
      <img [src]="character.thumbnailUrl">
      <caption>{{character.name}}</caption>
    </figure>
  </li>
</ul>
<div *ngIf="dataType.current === 'api generated'" id="page-container">
  <p id="page">Page:</p>
  <ul id="pagination">
    <li *ngFor="let page of getPagination()" ><a [class.active]="page===activePage" (click)="setActivePage(page)">{{page}}</a></li>
  </ul>
</div>



